@import "modules/variables";
@import "modules/colors";
@import "modules/typography";
@import "partials/grid";  //spr kolejność czy działa
@import "partials/header";
@import "partials/photos";
@import "partials/widget";
@import "partials/design";
@import "partials/slider";
@import "partials/footer";
@import "partials/calendar";
@import "partials/contactForm";
@import "partials/rwd";

body {
  margin: 0;
  padding: 0;
  background-color: $color-yellow;
  font-family: 'Roboto', sans-serif;
}
