
@keyframes rotation {
  0% {
    transform: skewX(0deg);
    transform: rotateY(0deg);
    }
  100% {
    transform: skewX(180deg);
    transform: rotateY(180deg);
    }
  }

.design {
  display: block;
  margin-bottom: -150px;
  overflow: hidden;
  background-repeat: no-repeat;
  animation-name: rotation;
  animation-duration: 10s;
  animation-delay: 20s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}
