$grid-columns: 6;

.grid-container {
  width: $grid-container-width;
  max-width: 1500px;

   .row:before,
   .row:after {
      content: " ";
      display: table;
      clear: both;
      overflow: hidden;
      position: relative;
      }

        & .nested-row {
        margin-bottom: $gutter;
    //    border: 1px solid black;
        display: table;
        }


    [class*="col-"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 100%;
      min-height: 1px;
      padding: $gutter/2;
  //    border: 1px solid red;
      }


      @for $i from 1 through $grid-columns {
        .col-#{$i} {
        width: $i * 100% / $grid-columns;
        }
      }
    }

.beige_full_width, .beige {
  background-color: $color-beige;
}

.h1_full_width, .blue {
  background-color: $color-blue;
}

.white {
  background-color: $color-white;
}
