$grid-columns: 6;

.grid-container {
  width: $grid-container-width;

   .row:before,
   .row:after {
      content: " ";
      display: table;
      clear: both;
      overflow: hidden;
      position: relative;
      border: 1px solid red;


        &.nested-row {
        margin-bottom: 3px;
  //      border: 1px solid blue;
        }
      }

    [class*="col-"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      float: left;
      width: 100%;
      min-height: 1px;
      padding: $gutter;
  //    border: 1px solid #ffffff;
    }


    //używając @for:

    @for $i from 1 through $grid-columns {
        .col-#{$i} {
        width: $i * 100% / $grid-columns;
      }
    }
  }

// bez @for

/*
.row {
    .col-1 {
      width: 1 * (100% / $grid-columns);
    }
    .col-2 {
      width: 2 *(100% / $grid-columns);
    }
    .col-3 {
      width: 3 * (100% /$grid-columns);
    }
    .col-4 {
      width: 4 * (100% / $grid-columns);
    }
    .col-5 {
      width: 5 * (100% / $grid-columns);
    }
    .col-6 {
      width: 6 * (100% / $grid-columns);
    }
    .col-7 {
      width: 7 * (100% / $grid-columns);
    }
    .col-8 {
      width: 8 * (100% / $grid-columns);
    }
    .col-9 {
      width: 9 * (100% / $grid-columns);
    }
    .col-10 {
      width: 10 * (100% / $grid-columns);
    }
    .col-11 {
      width: 11 * (100% / $grid-columns);
    }
    .col-12 {
      width: 12 * (100% / $grid-columns);
    }

}

}
  */
.color-beige {
  background-color: $color-beige;
  height: $height-nav;
}
