* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo_nav {
  display: inline-block;
  width: 100%;
  color: $color-beige-darken;
  height: $height-nav;
  font-size: $font-logo-header;
  line-height: 1.0;
}

div.sun_nav {
  font-size: 60px;
  color: $color-beige-darken;
  float: left;
  padding-right: 20px;
//  margin-top: -0px;
}

div.brand {
  float: left;
  padding-top: $height-nav/6;
  width: 70px;
}

span.brand {
  color: $color-blue;
  font-weight: bold;
}

.contacts_header {
  display: inline-block;
  float: right;
  padding-left: 80px;
  padding-right: $padding-logo;
  font-size: $font-size-menu;
  padding-top: 10px;
}

.icon_header {
  color: $color-beige-darken;
  padding-right: 20px;
}

.phone {
  display: inline-block;
  text-align: right;
}

.email {
  display: inline-block;
  text-align: right;
}

nav, ul.menu, ul.submenu {
  width: $grid-container-width;
  overflow-y: visible;
}

#large_menu {
  z-index: 1000;
  height: 60px;
}

.nav_container {
    width: $grid-container-width;
  //  height: $height-nav;
    position: relative;
    overflow-y: visible;
    background-color: $color-beige;
    color: $color-white;
  }

.menu {
  float: left;
//  height: $height-nav;
  display: inline-block;
  font-size: $font-size-menu;
  position: relative;
}

li.menu {
  line-height: $line-height_menu;
  text-align: center;
  padding: $padding-menu;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: $color-white;
}

.menu a:hover {
  color: $color-blue;
  text-shadow: 0 0 1px $color-blue;
  background-color: $color-beige-darken;
}

ul.submenu {
  display: none;
  position: absolute;
  margin-left: -$margin-standard;
  list-style-type: none;
  background-color: $color-beige-darken;
  overflow-y: visible;
  line-height: 2rem;
  text-align: center;
}

.submenu a {
  display: block;
//  color: $color-white;
}

.submenu a:hover {
  background-color: $color-beige-lighten;
}

div.hover {
  display: inline-block;
  width: auto;
}

div.hover:hover li.menu {
  display: block;
  background-color: $color-beige-darken;
}

li.item2:hover .item2 {
  display: block;
  background-color: $color-beige;
}

li.item3:hover .item3 {
  display: block;
  background-color: $color-beige;
}

li.item5:hover .item5 {
  display: block;
  background-color: $color-beige;
}

#small_menu {
  width: $grid-container-width;
  height: $height-nav;
  background: $color-beige-darken;
  color: $color-white;
  font-size: $font-size-menu;
  line-height: $line-height_menu;
  z-index: 100;
}

#small_menu a, dropdown a {
  padding-left: $padding-logo;
}

.dropdown {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: $color-beige;
    color: $color-white;
    list-style-type: none;
    line-height: 2rem;
  }

#small_menu a:hover {
  color: $color-blue;
  font-weight: bold;
}

.dropdown a:hover {
  color: $color-blue;
  font-weight: bold;
}

.dropdown li:hover {
  background-color: $color-beige-lighten;
}

.sticky {
    position: fixed;
    width: $grid-container-width;
    padding-left: 16.66%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }

  .rwd {
    width: 100%;
    height: $height-nav;
    color: $color-blue;
  }

@media only screen and (min-width: 850px) {
  .nav_container {
    display: inline-block;
  }
  #small_menu {
    display: none;
  }
  .rwd {
    display: none;
  }
}

@media only screen and (max-width: 849px) {
  .logo_nav {
    display: none;
  }
  .nav_container {
    display: none;
  }
  #small_menu {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
  }
}
