.photo {
  display: inline-block;
  border: 10px solid $color-white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

.photo:hover {
  transform: scale(2);
  transition: 1s;
}

.description {
  display: none;
  width: 100%;
  height: 50px;
  background-color: $color-blue;
  color: $color-white;
  font-size: $font-size-paragraph;
  padding: $padding-menu;
  margin-top: 70px;
  opacity: 0.8;
  line-height: 1.5em;
}

//photos with apartments interior

.river_lg {
background-image: url("../images/river_lg.jpg");
}

.chairs_lg {
background-image: url("../images/chairs_lg.jpg");
}

.house {
background-image: url("../images/house_lg.jpg");
}

.kitchen_lg {
background-image: url("../images/kitchen_lg.jpg");
}

.closet1_lg {
background-image: url("../images/closet1_lg.jpg");
}

.shoes_lg {
background-image: url("../images/shoes_lg.jpg");
}

.garden_lg {
background-image: url("../images/garden_lg.jpg");
}

.sunset_people_lg {
background-image: url("../images/sunset_people_lg.jpg");
}

.ducks_lg {
background-image: url("../images/ducks_lg.jpg");
}
