.photo {
  box-sizing: border-box;
  display: inline-block;
  border: 10px solid $color-white;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;
}

.photo:hover {
  transform: scale(2);
  transition: 1s;
//  z-index: 100;
}

.description {
  display: none;
  width: 100%;
  height: 150px;
  background-color: $color-blue;
  color: $color-white;
  font-size: $font-size-paragraph;
//  margin-top: 80px;
  opacity: 0.8;
  line-height: 1.5em;
//  padding: 0 10px 80px;
//  box-sizing: border-box;
//  border: 10px solid $color-white;


}

//apartment interior

.river_lg {
background-image: url("../images/river_lg.jpg");
}

.chairs_lg {
background-image: url("../images/chairs_lg.jpg");
}

//może da się zmniejszyć ten obrazak jeszcze ??
.house_lg {
background-image: url("../images/house_lg.jpg");
}

.kitchen_lg {
background-image: url("../images/kitchen_lg.jpg");
}

.closet1_lg {
background-image: url("../images/closet1_lg.jpg");
}

.shoes_lg {
background-image: url("../images/shoes_lg.jpg");
}

.garden_lg {
background-image: url("../images/garden_lg.jpg");
}

.sunset_people_lg {
background-image: url("../images/sunset_people_lg.jpg");
}

.ducks_lg {
background-image: url("../images/ducks_lg.jpg");
}


#PogodaNetWidget {
  width: 100%;
  //display: inline-block;
  border: 10px solid $color-white !important;
  border-bottom-color: $color-yellow !important;
  border-left-color: $color-yellow !important;
  font-family: "Roboto" !important;
  background-size: cover; // spr
  padding: 0;
  margin: 0;
  font-size: $font-size-paragraph !important;
}

.PogodaNetWidget_Day {
  color: $color-yellow !important;
}

.PogodaNetWidget_TempHeigh {
  color: $color-white !important;
}

.PogodaNetWidget_Desc {
  display: none;
}

a.PogodaNetWidget_Title, .PogodaNetWidget_Link {
  font-size: $font-size-menu;
}

#PogodaNetWidget a, #pogodaNetWidget_landscape a {
  color: $color-white;
}

.p1 {
  background-color: $color-blue;
  color: $color-white;
}

.p3 {
  width: 100%;
  height: 5*$height-nav;
//  background-image:  url("../images/design2_bg.svg");
//  background-size: cover;
  //background-repeat: repeat;
}
