/* Menu - more detailed settings for the responsive menu are included in the _header.scss file*/

@media only screen and (max-width: 767px) {
  .row {
    width: 100%;
  }
  .grid-container [class*="col-"] {
    width: 100%;
  }
}

@media only screen and (max-width: 949px) {
    .photo:hover {
    transform: none;
  }
}

@media only screen and (min-width: 850px) and (max-width: 949px) {
  .col-4.head,
  .col-4.h1_full_width.tbt,
  .col-4.tbt,
  .col-4.blue.widget.tbt,
  .col-4.design.tbt {
    width: 100%;
  }
  .col-2.h1_full_width.blue,
  .col-2.blue,
  .col-2.calendar,
  .col-2.form {
    width:  50%;
  }
  .col-1.tbt,
  .col-1.out,
  .col-1.pic {
    width: 25%;
  }
}

@media only screen and (max-width: 949px) {
  .dt, .dt {
    display: none;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1200px) {
  .col-1.dt,
  .col-1.dt {
    width: 10%;
  }
  .col-4.head,
  .col-4.menu,
  .col-4.h1_full_width.tbt,
  .col-4.tbt,
  .col-4.blue.widget.tbt,
  .col-4.design.tbt {
    width: 80%;
  }
  .col-2.h1_full_width.blue,
  .col-2.blue,
  .col-2.calendar,
  .col-2.form {
    width:  40%;
  }
  .col-1.tbt,
  .col-1.out,
  .col-1.pic {
    width: 20%;
  }
}

@media only screen and (max-width: 500px) {
  h1, p {
    padding-right: 10px;
  }
  .dad_son {
  background-image: url("../images/dad_son_sm.jpg");
  }
  .boat {
  background-image: url("../images/boat_sm.jpg");
  display: inline-block;
  }
  .dog {
  background-image: url("../images/dog_sm.jpg");
  }
  .seal {
  background-image: url("../images/seal_sm.jpg");
  }
  .kiter {
  background-image: url("../images/kiter_sm.jpg");
  }
  .sunset {
  background-image: url("../images/sunset_sm.jpg");
  }
  .people {
  background-image: url("../images/people_sm.jpg");
  }

  .river {
  background-image: url("../images/river_sm.jpg");
  }
  .chairs {
  background-image: url("../images/chairs_sm.jpg");
  }
  .house {
  background-image: url("../images/house_sm.jpg");
  }
  .kitchen {
  background-image: url("../images/kitchen_sm.jpg");
  }
  .closet1 {
  background-image: url("../images/closet1_sm.jpg");
  }
  .shoes {
  background-image: url("../images/shoes_sm.jpg");
  }
  .garden {
  background-image: url("../images/garden_sm.jpg");
  }
  .sunset_people {
  background-image: url("../images/sunset_people_sm.jpg");
  }
  .ducks {
  background-image: url("../images/ducks_sm.jpg");
  }
  .button {
    margin-bottom: $margin-standard;
  }
  .design {
    display: none;
  }
  .contacts {
    float: left;
    padding-left: $padding-logo;
  }
}

/* iPhone 5 320px*/
@media only screen and (max-width: 359px) {
  #slider_container {
    width: 315px;
    height: 200px;
    overflow: hidden;
  }
  .slider {
    width: 315px;
    height: 200px;
  }
  .photo {
    width: 315px;
    height: 200px;
  }
}

/* Galaxy S5 360px*/
@media only screen and (min-width: 360px) and (max-width: 374px) {
  #slider_container {
    width: 355px;
    height: 230px;
    overflow: hidden;
  }
  .slider {
    width: 355px;
    height: 230px;
  }
  .photo {
    width: 355px;
    height: 230px;
  }
}

/* iPhone 6 375px*/
@media only screen and (min-width: 375px) and (max-width: 410px) {
  #slider_container {
    width: 370px;
    height: 235px;
    overflow: hidden;
  }
  .slider {
    width: 370px;
    height: 235px;
  }
  .photo {
    width: 370px;
    height: 235px;
  }
}

/* Nexus 5X 411px*/
@media only screen and (min-width: 411px) and (max-width: 413px) {
  #slider_container {
    width: 405px;
    height: 260px;
    overflow: hidden;
  }
  .slider {
    width: 405px;
    height: 260px;
  }
  .photo {
    width: 405px;
    height: 260px;
  }
}

/* Nexus 6P 414px*/
@media only screen and (min-width: 414px) and (max-width: 434px) {
  #slider_container {
    width: 408px;
    height: 260px;
    overflow: hidden;
  }
  .slider {
    width: 408px;
    height: 260px;
  }
  .photo {
    width: 408px;
    height: 260px;
  }
}

/* iPhone 6 Plus 435*/
@media only screen and (min-width: 435px) and (max-width: 767px) {
  #slider_container {
    width: 430px;
    height: 280px;
    overflow: hidden;
  }
  .slider {
    width: 430px;
    height: 280px;
  }
  .photo {
    width: 430px;
    height: 280px;
  }
}

/* iPad 768px*/
@media only screen and (min-width: 768px) and (max-width: 849px) {
  .grid-container [class*="col-"] {
  width: 384px;
}
  .col-4.h1_full_width.tbt,
  .col-4.tbt,
  .col-4.blue.widget.tbt,
  .col-4.design.tbt,
  .col-1.tbt {
    width: 100%;
  }
  .col-1.out{
    display: none;
  }
  .photo {
    width: 380px;
    height: 250px;
  }
  #logo_footer {
    margin-right: $margin-standard;
  }
}
