#slider_container {
  border: 10px solid $color-white;
  background-color: $color-white;
  width: 440px;
  height: 300px;
  overflow: hidden;
}

.slider {
  background-size: contain;
  background-repeat: no-repeat;
  width: 440px;
  height: 300px;
  display: inline-block;
  overflow: hidden;
  display: none;
  text-align: center;
}

.dad_son {
background-image: url("../images/dad_son_lg.jpg");
}

.boat {
background-image: url("../images/boat_lg.jpg");
display: inline-block;
}

.dog {
background-image: url("../images/dog_lg.jpg");
}

.seal {
background-image: url("../images/seal_lg.jpg");
}

.kiter {
background-image: url("../images/kiter_lg.jpg");
}

.sunset {
background-image: url("../images/sunset_lg.jpg");
}

.people {
background-image: url("../images/people_lg.jpg");
}
