#PogodaNetWidget {
  width: 100% !important;
  border: 10px solid $color-white !important;
  border-bottom-color: $color-yellow !important;
  border-left-color: $color-yellow !important;
  font-family: "Roboto" !important;
  background-size: contain;
  padding: 0;
  margin: 0;
}

.PogodaNetWidget_Day {
  color: $color-yellow !important;
}

.PogodaNetWidget_TempHeigh {
  color: $color-white !important;
}

.PogodaNetWidget_Desc {
  display: none;
}

#PogodaNetWidget a {
  color: $color-white;
}

div.col-4.blue.widget.tbt {
  padding: 0;
}
