#PogodaNetWidget {
  width: 100%;
  //display: inline-block;
  border: 10px solid $color-white !important;
  border-bottom-color: $color-yellow !important;
  border-left-color: $color-yellow !important;
  font-family: "Roboto" !important;
  background-size: cover; // spr
  padding: 0;
  margin: 0;
  font-size: $font-size-paragraph !important;
}

.PogodaNetWidget_Day {
  color: $color-yellow !important;
}

.PogodaNetWidget_TempHeigh {
  color: $color-white !important;
}

.PogodaNetWidget_Desc {
  display: none;
}

a.PogodaNetWidget_Title, .PogodaNetWidget_Link {
  font-size: $font-size-menu;
}

#PogodaNetWidget a, #pogodaNetWidget_landscape a {
  color: $color-white;
}
