$color-navy-blue: #209fd9; // mój pierwszy wybór: #0b9aaf; //
$color-navy-green: #024d5b;
$color-blue: #13b9dd;
$color-beige: #af9884;
$color-beige-darken: darken(#af9884,10%);
$color-beige-lighten: lighten(#af9884,10%);
$color-white: #ece1d7;
$color-yellow: #f9edbf;
