//$total-width: 100%;
$grid-container-width: 100%;
//$sticky-menu-width: 66.66%;
//$max-width: 1200px;
$height-nav: 65px;
$padding-menu: 0 20px;
$height-footer: 60px;
$padding-logo: 20px;
$margin-standard: 20px;
//$gutter: 5px;

//$padding-menu: 0 25%;

$height-h1: 90px;
